  <div class="product__row">
  <ng-container  *ngFor="let product of products.product | slice:0:2">

    <div class="products__array">

    <div class="product__title">
      <h4 class="product__title__heading">{{product.title}}</h4>
   </div>
    <img class="product__image" [src]="product.imageUrl" alt="">
    <strong class="product__price">{{product.price | currency}}</strong>
    <button (click)="addToBasket(product)" class="button__addtocart"> <i [ngClass]="product.isAddToCart ? 'fa-check' : 'fa-shopping-bag' " class="fa"></i> Add to Cart</button>
  </div>
  </ng-container>
</div>
  <div class="product__row__two">
  <ng-container  *ngFor="let product of products.product | slice:2:5">

    <div class="products__array">

    <div class="product__title">
      <h4 class="product__title__heading">{{product.title}}</h4>
   </div>
    <img class="product__image" [src]="product.imageUrl" alt="">
    <strong class="product__price">{{product.price | currency}}</strong>
    <button (click)="addToBasket(product)" class="button__addtocart"> <i [ngClass]="product.isAddToCart ? 'fa-check' : 'fa-shopping-bag'" class="fa"></i> Add to Cart</button>
  </div>
  </ng-container>
</div>
  <div class="product__row__three">
  <ng-container  *ngFor="let product of products.product | slice:5:6">

    <div class="products__array">

    <div class="product__title">
      <h4 class="product__title__heading">{{product.title}}</h4>
   </div>
    <img class="product__image" [src]="product.imageUrl" alt="">
    <strong class="product__price">{{product.price | currency}}</strong>
    <button (click)="addToBasket(product)" class="button__addtocart"> <i [ngClass]="product.isAddToCart ? 'fa-check' : 'fa-shopping-bag' " class="fa"></i> Add to Cart</button>
  </div>
  </ng-container>
</div>

