.product {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  background-color: white;

}

.product__title {
  display: flex;
  width: 90%;
  margin: 20px 0;
}

.products__array {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  // width: fit-content;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
  background-color: white;
  width: 500px;
}

.product__image {
  width: 200px;
  margin: 20px 20px;
  object-fit: contain;
}
.product__price {
  display: flex;
  margin: 20px 20px;
  // color: #F3A847;
}
.button__addtocart {
  width: 120px;
  margin: 20px 20px;
  background-color: #F0c14b;
  padding: 3px 0;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
}
.product__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  justify-content: center;
}

.product__row__two  {
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  justify-content: center;
  flex: 1;
}

.product__row__two > .products__array {
  max-width: 325px;
}

.product__row__three {
  display: flex;
  justify-content: center;
  // flex: 1;
  margin: 0 20px;
}

.product__row__three > .products__array {
  max-width: 1010px;

  flex: 1;
  // margin-left: 20px;
}
