.product {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  margin: 20px 20px;
  background-color: white;
}

.product__image {
  position: relative;

  width: 50%;
  object-fit: contain;
}

.button__addtocart {
  position: absolute;
  bottom: 10px;
}

.product__title__heading {
  text-align: center;
  position: absolute;
  top: 10px;
}

.product__price {
  position: absolute;
  bottom: 60px;
}

.button__addtocart {
  padding: 5px 10px;
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
}
